<!DOCTYPE html>
<html>
  <div style="background-image: url('https://pixabay.com/photos/money-coin-investment-business-2724241/');">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  
<h1>Businesslingo</h1>
 
<picture>
  <source media="(min-width: 650px)" srcset="img_food.jpg">
  <source media="(min-width: 465px)" srcset="img_car.jpg">
  <img src="https://pixabay.com/photos/money-coin-investment-business-2724241/" style="width:auto;">
</picture>

<p> </p>

<p> 
</p>

<p><strong> </p>

</body>
</html>
